.product-page {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 10px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.1) 25%,
        rgba(221, 76, 10, 0.3) 50%,
        rgba(221, 76, 76, 0.6) 75%
      );
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #140E36;
}

.pb-container {
    width: 100%;
    height: 100%;
}

.pb-image-box {
    height: 15rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom-left-radius: 50px;

}

.pb-image-box .pb-image {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-bottom: 2px solid #140E36;
}

.pb-market-image-overlay .market-image{
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
}

.product-page-info {
    background: #402158;
    margin-top: 20px;
    padding: 10px;
    color: #E2E9FF;
    border-top-right-radius: 50px;
    border-top: 2px solid #140E36;

}

.product-page-info-title {
    font-size: 16px;
    font-weight: 600;
}

.product-page-info-price {
    font-size: 16px;
    font-weight: 600;
}

.product-page-info-market {
    font-size: 16px;
    font-weight: 600;
}

.product-page-info-expiredate {
    font-size: 16px;
    font-weight: 600;
    color: red;
}

@media screen and (min-width: 769px) {
    .product-page {
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(
            180deg,
            rgba(255, 0, 0, 0.1) 25%,
            rgba(221, 76, 10, 0.3) 50%,
            rgba(221, 76, 76, 0.6) 75%
          );
    }
    
    .pb-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .pb-image-box {
        width: 48%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 50px;
    }
    
    .pb-image-box .pb-image {
        border-bottom-left-radius: 0px;
        border-bottom: none;
        border-bottom-right-radius: 50px;
        border-right: 2px solid #140E36;
    }
    
    .pb-market-image-overlay .market-image{
        width: 60px;
        height: 60px;
    }
    
    .product-page-info {
        width: 48%;
        border-top-right-radius: 0px;
        border-top: none;
        margin-top: 0;
        border-top-left-radius: 50px;
        border-left: 2px solid #140E36;
    }
    
    .product-page-info-title {
        text-align: end;
    }
    
    .product-page-info-price {
        text-align: end;
    }

    .product-page-info-market {
        text-align: end;
    }

    .product-page-info-expiredate {
        text-align: end;

    }
}
