.paginated {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .pagination-controls button {
    width: 40px;
    height: 40px;
    border: none;
    padding: 5px 10px;
    background-color: #140E36;
    cursor: pointer;
    border-radius: 3px;
    color: #C9BFB6;
  }

  .pagination-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pagination-controls button.active-page {
    background-color: #7407c6;
    color: #E2E9FF;
  }