/*  colors
    #140E36
    #402158
    #7D5683
    #C9BFB6
    #E2E9FF
*/

/* Navbar container */

/* Wrapper for Navbar to reserve space */
.navbar-wrapper {
    height: 80px; /* Ensure space is reserved */
}
  
  /* Navbar container */
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #140E36;
    padding: 0 20px;
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.header-menu {
    display: none;
}

.main-logo {
    width: 150px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #402158;
    border-radius: 100px;
    padding: 5px;
}

.main-logo img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.search-bigscreen {
    display: none;
}
  
  /* Hidden state for navbar when scrolling down */
.navbar.hidden {
    top: -200px;
}

/* Menu icon (three lines) */
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
}

/* Line styling for menu icon */
.menu-icon .line {
    width: 30px;
    height: 3px;
    background-color: #E2E9FF;
    border-radius: 2px;
}

/* HomePage button */

.homepage-button {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.homepage-button .main-logo .website-main {
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
    color: #E2E9FF;
    -webkit-tap-highlight-color: transparent;
}

/* Overlay for clicks outside the navbar */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Sliding side-navbar */
.side-navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #140E36;
    padding: 10px;
    transition: 0.3s ease;
    z-index: 1000;
}

.side-navbar.open {
    left: 0;
}

/* Section tabs (Shops, Products) */
.section-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.tab {
    color: #E2E9FF;
    display: flex;
    width: 50%;
    cursor: pointer;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #7D5683;
}

.tab.active {
    border-bottom: 1px solid #E2E9FF;
}

.tab:hover {
    border-bottom: 1px solid #E2E9FF;
}

/* Section content */
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content a {
    color: #E2E9FF;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    background-color: #402158;
    border-radius: 2px;
}

.section-content a:hover {
    color: #bbb;
}

@media screen and (min-width: 768px) {

    .header {
        display: flex;
        flex-direction: column;
    }

    .navbar-wrapper {
        height: 200px;
    }

    .side-navbar {
        display: none;
    }

    .navbar {
        height: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .homepage-button-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-bigscreen {
        display: flex;
    }

    .header-menu {
        display: flex;
        flex-direction: column;
        background-color: #402158;
        width: 100%;
        margin: 10px;
    }

    .section-tabs-bigscreen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #7D5683;
    }

    .section-content-bigscreen {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 45px;
        padding: 5px;
        background-color: #7D5683;

    }

    .section-content-bigscreen a {
        color: #E2E9FF;
        margin: 5px;
        display: flex;
        justify-content: start;
        align-items: center;
        text-decoration: none;
        background-color: #402158;
        padding: 5px;
        border-radius: 3px;
    }
    
    .section-content-bigscreen a:hover {
        color: black;
    }

    .tab.active {
        background-color: #7D5683;
    }

    .menu-icon {
        display: none;
    }

    .section-tabs {
        display: none;
    }

    .section-content {
        display: none;
    }


}