/* Overlay covering the entire screen */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    z-index: 1000;
}

/* Search button */
.search-button {
    width: 100%;
    font-size: 16px;
    background-color: #402158;
    color: #E2E9FF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

/* Centered search container */
.search-container {
    position: fixed;
    top: 0;
    left: 50%;
    width: 300px;
    transform: translate(-50%, 0);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search input styling */
.search-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #402158;
    border-radius: 4px;
    color: #E2E9FF;
    outline: none;
    border: none;
}

.search-container input:focus {
    outline: 2px solid #140E36;
  }

.search-container input::placeholder {
    color: #E2E9FF;
}

/* Close button for search input */

.close-box {
    width: 100%;
    text-align: end;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

.close-button:hover {
    color: red;
}
  
  /* Search results */
.search-results {
    margin-top: 10px;
    width: 100%;
    overflow-y: auto;
    background: #c9bfb687;
    border-radius: 4px;
    padding: 10px;
    max-height: 510px;
}

/* Individual product item */
.product-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.product-item hr {
    height: 2px;
    width: 100%;
    background-color: #140E36;
    margin: 10px 0;
    border: none;
}

.search-product-image {
    width: 100%;
    height: 12rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.search-product-image img {
    width: 100%;
    height: 100%;
}

.search-product-market-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
}

.search-product-market-image img {
    height: 100%;
    width: 100%;
}

.search-product-result-container {
    width: 100%;
    background-color: #140E36;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.search-product-name {
    width: 100%;
    text-align: start;
    color: #E2E9FF;
}

.search-product-market {
    width: 100%;
    text-align: start;
    color: #E2E9FF;
}

.search-product-price {
    width: 100%;
    text-align: start;
    color: #E2E9FF;
}

.search-product-expiredate {
    width: 100%;
    text-align: start;
    color: red;
    font-weight: 700;
}

.no-results {
    margin-top: 10px;
    text-align: center;
    background: #c9bfb687;
    width: 100%;
    color: #E2E9FF;
    padding: 10px;
}

@media screen and (min-width: 769px) {
    .search-button {
        height: 70px;
    }
}